.c{
  margin-left: 0;
  margin-right:0;
  
}

.cd{
  height: 100vh;
}


body {
  margin: 0; height: 100%; overflow: hidden
  
}

.leftSide{
  color: whitesmoke;
  background-color: #4e0abb;
}

.con {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.icon{
  position: relative;
  top: 35px;
  left: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .content {
  width: 300px;
  

} */

.circle {
  position: absolute;
  top:450px;  
  width: 480px;
  left: -150px;
  height: 420px;
  border-radius: 50%;
  border: 1px solid rgb(202, 176, 60);
  border-top-color: transparent;
  transform: rotate(275deg);
}

.circle1 {
  position: absolute;
  top: 420px;
  width: 490px;
  left: -218px;
  height: 420px;
  border-radius: 50%;
  border: 1px solid rgb(202, 176, 60);
  border-top-color: transparent;
  transform: rotate(287deg);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
